#menubar {
  max-width: 100%; 
  margin: 75px 5%; 
  padding: 20px 0;
  justify-content: center;
  color: white;
  display: flex;
  background-color: #286f6c;
  text-align: center;
  border-radius: 20px;
}

p {
  margin: 0;
  padding: 0;
}

.line {
  width: 2px;
  background-color: white;
  color: #286f6c;
  height: 100px;
}

.divider {
  width: 2px;
  background-color: white;
  height: 100px;
}

#section {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

#single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 40px;
  flex-basis: calc(33.3332% - 10px); 
  max-width: calc(
    33.333% - 10px
  ); 
}

#main {
  font-weight: 600;
  font-size: 45px;
  line-height: 48px;
}

#sub {
  width: 140px;
  font-weight: 400;
  font-size: 20px;
  justify-content: center;
  line-height: 26px;
}

@media (max-width: 62rem) {
  #menubar {
    flex-direction: column;
    margin-top: 5px;
    justify-content: center;
    gap: 50px;
  }

  #main {
    font-size: 24px;
    line-height: 28.8px;
  }

  #sub {
    font-size: 14px;
    line-height: 18.2px;
    width: 100px;
  }

  #section {
    flex-wrap: nowrap;
    margin: 0px -5%;
  }

  .line {
    width: 2px;
    background-color: white;
    color: #286f6c;
    height: 80px;
  }

  .divider {
    display: none;
  }
}


